.datagrid,
.pagination {
  /* sizes */
  --grid: 4px;
  --row-height: calc(var(--grid) * 5);
  --border-width: 1px;
  --text-size: calc(var(--grid) * 3);

  /* colors */
  --foreground: rgba(0,0,0,0.9);
  --icon-active: rgb(177, 188, 131);
  --border-color: rgba(0,0,0,0.2);
  --row-bg-odd: rgba(192,192,192,0.1);

  color: var(--foreground);
  width: 100%;
  font-size: var(--text-size);
}

/* borders */
.datagrid {
  border-collapse: collapse;
}

.datagrid tr,
.datagrid th,
.datagrid td {
  border-width: 0;
  border-color: var(--border-color);
  border-style: solid;
}

.datagrid tbody tr {
  border-top-width: var(--border-width);
}

.datagrid td + td,
.datagrid th + th {
  border-left-width: var(--border-width);
}
/* /borders */

/* colours */
.datagrid tbody tr:nth-child(2n+1) {
  background-color: var(--row-bg-odd);
}

.datagrid button,
.pagination button {
  border-radius: 2px;
  color: var(--border-color);
}

.datagrid button:hover,
.pagination button:hover,
.datagrid button.active,
.pagination button.active {
  color: var(--icon-active);
  fill: var(--icon-active);
}
/* /colours */

/* layout + sizes */
.datagrid th {
  height: calc(var(--row-height) * 2);
}
.datagrid td {
  height: var(--row-height);
}

.datagrid th.sortable {
  position: relative;
}

.datagrid button {
  border: 0;
  height: calc(var(--grid) * 4);
  position: absolute;
  overflow: hidden;
  padding: 0;
  right: 3px;
  width: calc(var(--grid) * 4);
}

.datagrid button[title^="Ascending"] {
  top: 3px;
}

.datagrid button[title^="Descending"] {
  bottom: 3px;
}

.datagrid td {
  text-align: center;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  height: var(--row-height)
}